{{#each error}}
 <div class="d-flex justify-content-center alert alert-danger">{{text}}</div>
{{/each}}
<h3>Add Item :</h3>
<form action="/admin/item/new" method= "POST">
  <div class="card">
    <div class="card-body">
      <label for="name">Name:</label>
      <input type="name" name="name" value="{{name}}" required="true">
      <label for="price">Price:</label>
      <input type="number" name="price" value="{{price}}" required="true">


      <label for="col-form-label"> Category:</label>
        <select class="form-select" name="categoryId" required="true">
        <option selected>Select Category</option>
        {{#each categories}}
          <option value="{{id}}">{{name}}</option>
        {{/each}}
        </select>



        <label for="cal-form-label">Rarity:</label>
        <select class="form-select" name="rarityId" required="true">
        <option selected> Select Rarity</option>
        {{#each rarities}}
          <option value="{{id}}">{{name}}</option>
        {{/each}}
        </select>


      <button type="submit" class="btn btn-success mt-4"> Add Item </button>
    </div>
  </div>
</form>
